.container
    width: 1140px;
    height: 542px;
    margin-left: 150px;
    margin-right: 150px;
    
    

.containerInfo
    width: 1110px;
    height: 398px;
    display: flex
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-left: 0px;
    margin-right: 0px
    -webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.2); 
    -moz-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.2); 
    box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.2);

.questions
   background-color: #377dff;
   width: 463px;
   height: 398px;
   

.questionsUl
   height: 254px;
   width: 335px;
   max-height: 254px;
   max-width: 335px;
   margin-left: 20px
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 40px;

.questionsDiv
    line-height: 40px;

.info
    display: flex;
    justify-content: center;
    flex-direction: column;
    
.infoCenter
    padding-bottom: 64px;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 64px
    
.line
    border-top-color: rgb(231, 234, 243);
    border-top-style: solid;
    border-top-width: 1px;

.head
    font-size: 20px
    margin-bottom: 10px;
    font-weight: 500;

.body
    font-size: 14px;
    color: rgb(119, 131, 143);
    line-height: 20px;

.infoText
    margin: 40px

.headq
    font-size: 32px;
    color: rgb(255, 255, 255);

.bodyq
    font-size: 14px;
    color: rgb(255, 255, 255);

a
    color: white;
    text-decoration: none;

.buttonq
    align-items: flex-start;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 99px;
    border-bottom-right-radius: 99px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 99px;
    border-top-right-radius: 99px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(140, 152, 164, 0.25) 0px 3px 6px 0px;
    box-sizing: border-box;
    color: rgb(55, 125, 255);
    cursor: default;
    display: inline-block;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant-caps: normal;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    min-width: 155px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    transform: matrix(1, 0, 0, 1, 0, -3);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    vertical-align: middle;
    width: 214.703125px;
    word-spacing: 0px;
    writing-mode: horizontal-tb

.buttonq:hover
    transform: translateY(-10px);
    cursor: pointer;
